.new-card-container {
  display: grid;
  grid-template-columns: 200px, 200px, 200px, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  margin: 0 auto;
}

.new-card-title {
  grid-column: 1 / span 3;
  grid-row: 1;
  color: #212121;
  font-size: 1em;
  font-weight: 600;
  padding: 20px;
  margin: auto;
}

/* LRG Landscape:desktop */
@media only screen and (min-width: 1200px) {
  .new-card-image {
    display: grid;
    grid-column: 4;
    grid-row: 1 / span 4;
    width: 100%;
    place-items: center;
    max-width: min-content;
    max-height: min-content;
    margin: 0 auto;
  }

  .new-card-description {
    grid-column: 1 / span 3;
    grid-row: 2;
    justify-self: center;
    align-content: center;
    text-align: center;
    text-justify: center;
    max-width: 600px;
    padding: 10px 20px 5px 20px;
  }

  .new-card-date-created {
    grid-column: 1 / span 3;
    grid-row: 3;
    justify-self: center;
    align-content: center;
    padding: 5px 20px 10px 20px;
    max-width: 600px;
  }
  .button-container {
    grid-column: 2;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-content: center;
    padding: 20px 5px, 5px, 20px;
    margin: 0 auto;
  }
  .home-button {
    grid-column: 2;
    grid-row: 4;
    padding: 40px 10px, 10px, 40px;
    border: none;
    background-color: white;
    margin: auto;
  }
  .home-button:hover {
    background-color: #eae5e4;
    border-radius: 10%;
    transition-delay: 0.2s;
  }
  .previous-button {
    grid-column: 1;
    grid-row: 4;
    padding: 40px 10px, 10px, 40px;
    border: none;
    background-color: white;
    margin: auto;
  }
  .previous-button:hover {
    background-color: #eae5e4;
    border-radius: 10%;
    transition-delay: 0.2s;
  }
  .next-button {
    grid-column: 3;
    grid-row: 4;
    padding: 40px 10px, 10px, 40px;
    border: none;
    background-color: white;
    margin: auto;
  }
  .next-button:hover {
    background-color: #eae5e4;
    border-radius: 10%;
    transition-delay: 0.2s;
  }
}

/* portrait:mobile */
@media only screen and (max-width: 1200px) {
  .new-card-container {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    min-height: 75%;
    padding: 0 0 50px 0;
  }

  .title {
    grid-column: 1 / span 3;
    grid-row: 1;
    font-size: 1.9em;
  }

  .new-card-title {
    grid-column: 1 / span 3;
    grid-row: 2;
    justify-self: center;
    padding: 20px;
  }

  .new-card-image {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 3;
    width: 100%;
    justify-self: center;
    align-content: center;
    max-width: min-content;
    max-height: min-content;
    margin: 0 auto;
  }

  .new-card-description {
    grid-column: 1 / span 3;
    grid-row: 4;
    justify-self: center;
    padding: 20px 20px 5px 20px;
    max-width: 600px;
  }

  .new-card-date-created {
    grid-column: 1 / span 3;
    grid-row: 5;
    justify-self: start;
    padding: 5px 20px 10px 20px;
  }
  .button-container {
    grid-column: 2;
    grid-row: 6;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-content: center;
    padding: 5px;
    margin: 0 auto;
  }
  .home-button {
    grid-column: 2;
    grid-row: 6;
    padding: 40px 10px, 10px, 40px;
    border: none;
    background-color: white;
    margin: auto;
  }
  .home-button:hover {
    background-color: #eae5e4;
    border-radius: 10%;
    transition-delay: 0.2s;
  }
  .previous-button {
    grid-column: 1;
    grid-row: 6;
    padding: 40px 10px, 10px, 40px;
    border: none;
    background-color: white;
    margin: auto;
  }
  .previous-button:hover {
    background-color: #eae5e4;
    border-radius: 10%;
    transition-delay: 0.2s;
  }
  .next-button {
    grid-column: 3;
    grid-row: 6;
    padding: 40px 10px, 10px, 40px;
    border: none;
    background-color: white;
    margin: auto;
  }
  .next-button:hover {
    background-color: #eae5e4;
    border-radius: 10%;
    transition-delay: 0.2s;
  }
}
